__pycache__/
*.pyc
*~

data/

*/*.zip
Global/global_checkpoints/checkpoints/restoration/*
Face_Enhancement/face_checkpoints/checkpoints/*
Face_Enhancement/sync_batchnorm/*
Global/detection_models/sync_batchnorm/*

Global/global_checkpoints/checkpoints/detection/FT_Epoch_latest.pt
Face_Detection/shape_predictor_68_face_landmarks.dat
tmp/